docs/workflows/Sidawi_AI_Health_V22_production.json
{
  "name": "Sidawi AI Health V22",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3e1fee9b-ec97-4094-8a2e-21ca8aaaaab2",
        "options": {}
      },
      "id": "9941d10e-de06-4396-b9fa-3f45082e42e6",
      "name": "Sidawi_Health_WH",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2368,
        -176
      ],
      "webhookId": "whatsapp-health-bot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://employee-management-system-ai-chat--alsid2226.replit.app/api/v1/bot/check-auth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumber",
              "value": "={{ $json.body.from }}"
            },
            {
              "name": "activationCode",
              "value": "={{ $json.body.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b38cd89c-0ded-4747-afa6-3e2f7dffe5d7",
      "name": "Verify Identity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2096,
        -176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0001-0001-0001-000000000001",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "activated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "تفعيل"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0002-0002-0002-000000000002",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deactivated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "إيقاف يدوي"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0003-0003-0003-000000000003",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "auto_deactivated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "إيقاف تلقائي"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-0004-0004-0004-000000000004",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "رسالة للذكاء"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "f3402d17-21d3-48e5-802b-4ae70533a864",
      "name": "Route by Action1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1872,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "=مرحباً {{ $('Verify Identity1').item.json.full_name }} 👋\n\nتم تفعيل البوت بنجاح! يمكنك الآن طرح أي سؤال عن بيانات الموظفين في مديرية الصحة.\n\n💡 للإيقاف في أي وقت، أرسل كود الإيقاف."
            }
          ]
        },
        "options": {}
      },
      "id": "e8a79e83-a4dc-4de2-966f-d32914b15cf8",
      "name": "WhatsApp Welcome1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1280,
        -496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "تم إيقاف البوت ✋\n\nلن يتم الرد على رسائلك حتى تقوم بإرسال كود التفعيل مجدداً."
            }
          ]
        },
        "options": {}
      },
      "id": "858d263a-39bd-481f-8ed6-73e4678a443b",
      "name": "WhatsApp Goodbye1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1280,
        -336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "⏰ تم إيقاف البوت تلقائياً بسبب عدم النشاط لمدة 10 دقائق.\n\nأرسل كود التفعيل لإعادة تشغيله."
            }
          ]
        },
        "options": {}
      },
      "id": "fd24e299-68f3-44e0-921c-486847c891ed",
      "name": "WhatsApp Auto Timeout1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1280,
        -192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Sidawi_Health_WH\"].json.body.content }}",
        "options": {
          "systemMessage": "=أنت 'النظام الخبير للإدارة التقنية والذاتية' بمديرية الصحة. الموظف المصرَّح له الذي يتواصل معك الآن هو: {{ $('Verify Identity1').item.json.full_name }}.\n\n=====================================\nقواعد صارمة - لا استثناءات مطلقاً\n=====================================\n\n[1] استدعاء الأداة إلزامي:\n- لكل استفسار عن موظف أو إحصاءات أو مستندات، يجب استدعاء أداة fetch_employee_database أولاً، قبل أي رد.\n- إذا لم تستدعِ الأداة، فأنت لا تملك أي بيانات ولا يحق لك الرد.\n- يُحظر تماماً استخدام أي معلومة من معرفتك التدريبية عن أي شخص، حتى لو بدا الاسم مألوفاً جداً مثل \"طارق\" أو \"محمد\" أو أي اسم آخر.\n\n[2] الموظف غير الموجود - قاعدة حرفية:\n- إذا بحثت في نتائج أداة fetch_employee_database ولم تجد الموظف المطلوب:\n  الرد الوحيد المسموح به: \"لا يوجد موظف بهذا الاسم أو الرقم في قاعدة بيانات المديرية.\"\n- لا تضف أي كلام إضافي. لا تقترح أسماء بديلة. لا تخمن. لا تذكر موظفين آخرين.\n\n[3] المستندات - قاعدة صارمة:\n- المستندات تُعرض فقط من حقل direct_url الوارد في بيانات الموظف من أداة fetch_employee_database.\n- إذا كان حقل المستندات فارغاً في سجل الموظف:\n  الرد: \"لا توجد مستندات مرفقة بسجل هذا الموظف في قاعدة البيانات.\"\n- يُحظر تماماً اختراع روابط أو وصف مستندات غير موجودة في البيانات الفعلية.\n\n[4] ملف Word:\n- استخدم أداة generate_word_link فقط عند الطلب الصريح لملف Word أو وثيقة رسمية.\n- يجب الحصول على nationalId من fetch_employee_database أولاً ثم تمريره لهذه الأداة.\n- أرسل رابط downloadUrl للمستخدم مباشرةً دون تعديل.\n\n[5] نطاق الردود:\n- اللغة العربية الفصيحة دائماً، مختصرة وواضحة.\n- إذا كان السؤال خارج نطاق بيانات موظفي المديرية:\n  الرد: \"أنا متخصص في بيانات موظفي المديرية فقط، لا أستطيع المساعدة في هذا الموضوع.\""
        }
      },
      "id": "c34354ee-49da-414e-88d2-8f5aa6380a2c",
      "name": "AI Agent Router1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1584,
        -32
      ]
    },
    {
      "parameters": {
        "toolDescription": "أداة الوصول الشاملة لقاعدة بيانات المديرية. تعيد كافة سجلات الموظفين، الأقسام، الإحصائيات، وروابط المستندات المباشرة. استخدمها للرد على أي استفسار معلوماتي عام أو إحصائي.",
        "url": "https://employee-management-system-ai-chat--alsid2226.replit.app/api/v1/bot/master-query?_t=3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        }
      },
      "id": "ff0b0f24-1b97-4f3b-9f69-6fbe61b0a11f",
      "name": "fetch_employee_database1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1264,
        160
      ]
    },
    {
      "parameters": {
        "toolDescription": "أداة توليد بطاقة الموظف كملف Word (docx) وإرجاع رابط تنزيل مباشر. استخدمها عندما يطلب الموظف بياناته أو ملفه الوظيفي كوثيقة Word. يجب تمرير أحد المعاملات: nationalId (الرقم الوطني) أو name (اسم الموظف). مثال: nationalId=01020148001 أو name=طارق أحمد السيد",
        "url": "https://employee-management-system-ai-chat--alsid2226.replit.app/api/v1/bot/generate-word-link",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "nationalId",
              "valueProvider": "modelOptional"
            },
            {
              "name": "name",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        }
      },
      "id": "5acdc51b-526c-43e2-a00a-41a7fafa48b6",
      "name": "generate_word_link1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1104,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8082/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4909ab0d-4d59-429c-9603-acdebe4c0deb",
      "name": "WhatsApp AI Output1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1280,
        -32
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Sidawi_Health_WH').item.json.body.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1424,
        176
      ],
      "id": "bcde92d1-dd57-477c-ab7d-cd410bc9c5df",
      "name": "Conversation Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1584,
        192
      ],
      "id": "2d608214-f201-4e99-b3f2-7a4f151c5059",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Hxp1njnkn8szDJPn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "أداة تصدير بيانات جميع الموظفين كملف Excel (xlsx) وإرجاع رابط تنزيل مباشر. استخدمها عندما يطلب المستخدم بيانات الموظفين كملف إكسل أو جدول بيانات. لا تحتاج أي معاملات إضافية.",
        "url": "https://employee-management-system-ai-chat--alsid2226.replit.app/api/v1/bot/generate-excel-link",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-api-key",
              "valueProvider": "fieldValue",
              "value": "3477e2bd6616a95eb2dcbb3a9e39b663fddab5a90fe7d71cdd45a7b34040fca4"
            }
          ]
        }
      },
      "id": "cc817d73-7d27-4392-b55d-8f2cca2795d9",
      "name": "export_excel_tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -944,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Sidawi_Health_WH": {
      "main": [
        [
          {
            "node": "Verify Identity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Identity1": {
      "main": [
        [
          {
            "node": "Route by Action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action1": {
      "main": [
        [
          {
            "node": "WhatsApp Welcome1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Goodbye1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Auto Timeout1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Router1": {
      "main": [
        [
          {
            "node": "WhatsApp AI Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_employee_database1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate_word_link1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "export_excel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Router1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "70b18798-f5d3-4a18-a5ff-ea696fc53e21",
  "meta": {
    "instanceId": "9209d1367e21b216f13b9563bb21cb1c1fcb732cef287186a2e347fcf573779c"
  },
  "id": "Kvbm6sRK6gw2rzlp",
  "tags": []
}